{% extends 'index.html' %}

{% block title %}文件管理{% endblock %}

{% block page-content %}
<div class="location_div">位置：文件管理 >> 编辑文件  </div>
<h3>编辑文件</h3>
说明：请输入绝对路径，如:/tmp/test.txt
<form action="" method="post">
请输入文件:
<input type="text" name='name' class="span5" placeholder="Type your filename" value={{ name }}> 
<button type="submit" name="new" class="btn btn-primary btn-sm hostadd_button">提交</button><br>
{% if msg %}<font color='red'>{{ msg }}</font>{% endif %} <br>
<textarea rows=18 class="span11" name="data">{{ data }}</textarea><br>
<button type="submit" name="audit" class="btn btn-primary btn-sm hostadd_button">保存修改</button>
</form>
{% endblock %}
