{% extends 'index.html' %}

{% block title %}执行命令{% endblock %}

{% block page-content %}
<div class="location_div">位置：执行命令 >> ssh方式执行命令  </div>
<h2> ssh方式执行命令</h2>
说明：ssh执行方式只用于部署salt-minion或salt-minion服务异常无法使用salt执行命令的情况 <br>
选择用户若为空或者无本人的账号，请先登录后台在user表中创建用户及密码或者在系统用户管<br>
理页面中执行修改密码，系统会自动在数据库中创建用户及密码<br>
常用命令：
1、重启minion客户端 sudo /etc/init.d/salt-minion restart <br>
2、检查minion客户端sudo设置，查看是否打印出ok。 sudo echo "ok" <br>
注意：检查minionsudo设置不打印ok，则sudo配置文件中注释掉Default requiretty<br>
<div class='row'>
    <div class='span10'>
            <form class="form-inline" id="form-execute" action="" method="post" style="margin-bottom:0;">
                <select name="host" id="select">
                <option>请选择主机</option>
		<option value='all'>所有主机</option>
                {% for hostgroup in hostgroups %}
                <option>{{ hostgroup }}</option>
                {% endfor %}
		{% for ip in ips %}
                <option>{{ ip }}</option>
		{% endfor %}
                </select>  
                <select name="username">
                <option>请选择用户</option>
		{% for user in users %}
                <option>{{ user }}</option>
		{% endfor %}
                </select> 命令
                <input type="text" class="input-max" name='cmd'>
                <button type="submit" class="btn" name="sshcmd">Enter</button>
    </div>
</div>
</form>
<br>
<div id="result" onchange="$('#progress_stop').hide()" style="height:400px;#c3c3c3;background-color:black;color:white;overflow-y:auto;" class="well">
{% if execerr %}
执行结果：{{ execerr }}<br>
{% endif %}
{% if ret1 %}
{% for ret in ret1 %}
{% for k,v in ret.items %}
########{{ k }}########<br>
{{ v|escape|linebreaksbr  }}<br>
{% endfor %}
{% endfor %}
{% else %}
注意：命令中不能包含危险命令({{ dangercmd }})
{% endif %}
</table>
</div>
{% endblock %}
