{% extends 'index.html' %}

{% block title %}分组管理{% endblock %}

{% block page-content %}
<div class="location_div">位置：分组管理  </div>
<h3>主机分组</h3>
说明：<br>
<form class="form-inline" action="" method="post" style="margin-bottom:0;">
组名:<input type="text" name='groupname' class="input-small" placeholder="输入组名">
主机saltid:<input type="text" name='hosts' class="span5" placeholder="输入主机saltid">
<button type="submit" name='add' class="btn">添加分组</button>
<button type="submit" name='modf' class="btn">修改分组</button>
<button type="submit" name='del' class="btn">删除分组</button><br>
{% if msg %}<font color='red'>{{ msg }}</font>{% endif %}
</form>
<table class="table">
<th>组名</th><th>主机</th>
{% for k,v in rets.items %}
<tr>
    <td>{{k}}</td>
    <td>{{v}}</td>
</tr>
{% endfor %}
</table>
<h3>联系人分组</h3>
<table class="table">
<th>组名</th><th>联系人</th>
{% for k,v in rets.items %}
<tr>
    <td>{{k}}</td>
    <td>{{v}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
