{% extends 'index.html' %}

{% block title %}执行命令{% endblock %}

{% block page-content %}
<div class="location_div">位置：执行命令 >> salt方式执行命令  </div>
<h2> salt方式执行命令</h2>
<div class='row'>
    <div class='span10'>
            <form class="form-inline" id="form-execute" action="" method="post" style="margin-bottom:0;">
            <input type="text" class="input-small" value="*" name="saltid">
            <select name="type" class="input-small">
                <option>选择类型</option>
                <option>glob</option>
                <option>nodegroup</option>
                <option>range</option>
                <option>grain</option>
                <option>pillar</option>
            </select>
		    <select name="fun" class="input-small">
                <option>选择函数</option>
                <option>cmd.run</option>
                <option>state.sls</option>
            </select>
                <input type="text" class="input-max" name='cmd'>
                <button type="submit" class="btn" id="execute">Enter</button>
           </form>
    </div>
</div>
<br>
<div id="result" onchange="$('#progress_stop').hide()" style="height:400px;#c3c3c3;background-color:black;color:white;overflow-y:auto;" class="well">
{% if execerr %}
{{ execerr }}<br>
{% endif %}
{% if ret1 %}
{% for k,v in ret1.items %}
    ########{{ k }}########<br>
    {{ v|escape|linebreaksbr  }} <br>
{% endfor %}
{% else %}
注意：命令中不能包含危险命令({{ dangercmd }})
{% endif %}
</table>
</div>
{% endblock %}
