{% extends 'index.html' %}

{% block title %}服务监控{% endblock %}

{% block page-content %}
<div class="location_div">位置：监控 >> 服务监控  </div>
<h2>服务状态监控</h2>
<form action="" method="post">
<input type="text" class="input-small" name='saltid' value="*" placeholder="saltid">
<select name="type" class="input-small">
    <option>选择类型</option>
    <option>glob</option>
    <option>nodegroup</option>
    <option>range</option>
    <option>grain</option>
    <option>pillar</option>
</select>
<input type="submit" value="搜索">
<table class="table">
</form>
<th>Saltid</th><th>负载状态</th><th>连接数</th>
{% for post in posts %}
<tr>
    {% for i in post %} 
    <td>{{ i.saltid }}</td>
    <td>{{ i.load }}</td>
    <td>{{ i.connum }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
{% endblock %}
