{% extends 'index.html' %}

{% block title %}系统用户管理{% endblock %}

{% block page-content %}
<div class="location_div">位置：系统用户管理  </div>
<h3>创建系统用户</h3>
说明：如果执行结果失败可能原因是创建的用户存在<br>
<form action="" method="post">
匹配主机:<input type="text" class="input-small" name='saltid' value="*" placeholder="saltid">
新建用户名:<input type="text" class="input-small" name='username' placeholder="username">
系统密码:<input type="password" class="input-small" name='passwd' placeholder="passwd">
确认密码:<input type="password" class="input-small" name='passwd1' placeholder="passwd">
<select name="usertype">
<option>选择用户类型</option>
<option value="1">普通用户</option>
<option value="2">SA用户(sudo权限)</option>
</select>
<input type="submit" name='adduser' value="执行">
</form>
<hr style="border:0;background-color:#ff0000;height:1px;">
<h3>删除系统用户</h3>
说明：如果执行结果失败可能的原因是该用户在登录状态或者用户不存在<br>
<form action="" method="post"> 
匹配主机:<input type="text" class="input-small" name='saltid' value="*" placeholder="saltid">
用户名:<input type="text" class="input-small" name='username' placeholder="username">
<input type="submit" name='deluser' value="执行">
</form>
<hr style="border:0;background-color:#ff0000;height:1px;">
<h3>修改系统用户密码</h3>
说明：如果执行结果失败可能的原因是该用户不存在<br>
<form action="" method="post">
匹配主机:<input type="text" class="input-small" name='saltid' value="*" placeholder="saltid">
用户名:<input type="text" class="input-small" name='username' placeholder="username">
新密码:<input type="password" class="input-small" name='passwd' placeholder="passwd">
确认密码:<input type="password" class="input-small" name='passwd1' placeholder="passwd">
<input type="submit" name='chpasswd' value="执行">
</form>
<br>
<div id="result" onchange="$('#progress_stop').hide()" style="height:400px;#c3c3c3;background-color:black;color:white;overflow-y:auto;" class="well">
{% if execerr %}
{{ execerr }}<br>
#######################<br>
{% endif %}
{% if ret1 %}
{% for r in ret1.items %}
{{ r }} <br>
{% endfor %}
{% endif %}
</div>
{% endblock %}
