{% extends 'index.html' %}

{% block title %}文件管理{% endblock %}

{% block page-content %}
<div class="location_div">位置：文件管理 >> 上传文件  </div>
<h3>上传文件</h3>
说明: 文件将上传到{{ uploaddir }}目录下  <br>
<form action="" method="post" name="upload" enctype="multipart/form-data">
<table>
<tr>
<td>请选择文件:</td>
<td>{{ upform.file }}</td>
<td><button type="submit" class="btn btn-primary btn-sm hostadd_button">提交</button></td>
</tr>
</table>
</form>
{{ ret }}
<hr style="border:0;background-color:#ff0000;height:1px;">
<h3>下载文件</h3>
说明: 文件从下面列表中选择复制粘贴,暂不支持包含中文的文件<br>
<form action="" name="down" method="post">
<table>
<tr>
<td>请选择文件:</td>
<td>{{ downform.file }}</td>
<td><button type="submit" class="btn btn-primary btn-sm hostadd_button">提交</button></td>
</tr>
</table>
</form>
<hr style="border:0;background-color:#ff0000;height:1px;">
<h3>服务器文件列表</h3>
说明:{{ uploaddir }}目录文件列表  <br>
{% for file in files %}
<li>{{ file }}</li>
{% endfor %}
{% endblock %}
