{% extends 'index.html' %}

{% block title %}页面监控{% endblock %}

{% block page-content %}
<div class="location_div">位置：监控 >> 页面监控  </div>
<h3>添加监控</h3>
说明：url地址必须以http://开头，加新的项目会马上监控返回其结果<br>
<form class="form-inline" action="" method="post" style="margin-bottom:0;">
工程名:<input type="text" name='proname' class="input-small" placeholder="输入工程名">
IP地址:<input type="text" name='ip' class="input-small" placeholder="输入ip地址">
端口号:<input type="text" name='port' class="input-small"placeholder="输入端口号">
URL:<input type="text" name='urlname' class="span3" placeholder="输入url">
负责人:<input type="text" name='contact' class="span2" placeholder="输入负责人邮箱">
<button type="submit" name='add' class="btn">添加监控</button><br>
{% if msg %}<font color='red'>{{ msg }}</font>{% endif %}
<h3>页面监控</h3>
说明：服务器每隔5分钟会自动监控所有项目，查看最新监控结果请刷新页面<br> 
<input type="text" name='searchproname' class="input-small" placeholder="工程名">
<button type="submit" name='search' class="btn">搜索</button>
<button type="submit" name='updateall' class="btn">戳一下</button>
</form>
<table class="table">
<th>工程名</th><th>域名</th><th>IP地址</th><th>端口</th><th>Url地址</th><th>负责人</th><th>最后监控时间</th><th>监控结果</th><th>操作</th>
{% for ret in rets %}
{% ifequal ret.status '200' %}<tr class="alert-success">{% else %}<tr class="alert-danger">{% endifequal %}
    <td>{{ret.proname}}</td>
    <td>{{ret.domainname}}</td>
    <td>{{ret.ip}}</td>
    <td>{{ret.port}}</td>
    <td>{{ret.urlname}}</td>
    <td>{{ret.contact}}</td>
    <td>{{ret.nowtime}}</td>
    <td>{{ret.status}}</td>
    <td><a href="{% url "urlupdate" ret.id %}">刷新</a> | <a href="{% url "urldel" ret.id %}">删除</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
